.meal-cards{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-gap: 24px;
    margin-left: 82px;
    margin-top: 20px;
}
.card-name{
    color: crimson;
    font-size: 25px!important;

}
@media only screen and (max-width: 600px){
    .meal-cards{
        display: grid;
        grid-template-columns: repeat(1,1fr);
    }
}