.card-details{
    display: flex;
    margin: 0 auto;
    margin-top: 12px;
   height: auto;
    width: 600px;
    border: 5px solid red;
    border-radius: 20px;
    padding: 5px;
}
.img{
    width: 40%;
}
.food-img{
    margin-top: 150px;
    width: 100%;
    border-radius: 20px;
    padding: 10px;
}
.description{
    align-items: center;
    justify-content: center;
    width: 60%;
    text-align: center;
   padding:10px;

}
.desc{
    font-weight: 700;
}
.yt-link{
    text-decoration: none;
    background-color: crimson;
    padding: 12px;
    border-radius: 12px;
    color: whitesmoke;
    font-weight: 500;
}
@media only screen and (max-width: 600px){
    .card-details{
        display: flex;
        margin: 0 auto;
        margin-top: 12px;
        height: auto;
        width: 100%;
    }
}